$link_color:   #8e44ad;
$active_color: #8e44ad;

.center {
  width: 100%;
  margin: 0px auto;
  text-align: center;
}

.nav-background {
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0 auto;
  height: 4rem;

  background: #fff;
}

.nav-bar {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 32rem;

  margin: 0 auto;
  padding-top: 1rem;
  padding-bottom: 0.5rem;

  background-color: #fff;

  .nav-item {
    float: left;
    margin: 0 1rem;
  }

  a {
    color: #000;
    text-decoration: none;

    &:hover {
      color: $active_color;
      text-decoration: dotted;
    }

    &.activePath {
      border-bottom: 1px solid $active_color;
    }
  }
}

.content {
  padding-top: 6rem;
  max-width: 600px;
  margin: 0 auto;


  .sub-section {
    margin-bottom: 3rem;
  }

  a {
    color: $link_color;
    text-decoration: none;

    &:hover {
      color: $active_color;
      text-decoration: underline;
    }
  }

  > div {
    margin: 0 1rem;

    &.rsvp {
      margin: 0;
    }

  }

  .rsvp-link {
    padding-bottom: 4rem;

    a {
      padding-bottom: 1rem;
    }
  }

  .map {
    background-image: url(ring.gif);
    background-repeat: no-repeat;
    background-position: center 10%;

    iframe {
      width: 100%;
    }
  }

  .rsvp {
    background-image: url(ring.gif);
    background-repeat: no-repeat;
    background-position: center 10%;

    iframe {
      width: 100%;
    }
  }

}


